.schedule {

    .time_display .day_title{
        background: #2c3f3e;
        color: #FFF;
        text-align: left;
        font-size: 18px;
        padding: 4px 0px 0px 10px;
        float: left;
        width: 100%;
    }
    
    .display_type{
        padding: 10px;
        background: #9fccd4;
        width: 100%;
        .display_type_box{
            margin: 0 auto;
            display: table;

            button{
                border: 0px;
                padding: 0px 10px 1px 10px;
                background: #486564;
                color: #d8ffff;
                font-weight: bold;
                margin-right: 0px;
                min-width: 72px;
            }
            button.active{
                background: #2c3f3e;
                color: #FFF;
            }
        }

    }
    .days{
        padding: 10px;
        background: #b9e7f0;
        width: 100%;
        .types_box,
        .days_box{
            margin: 0 auto;
            display: table;
            button{
                border: 0px;
                border-radius: 100px;
                padding: 17px 0px 17px 0px;
                background: #9fccd4;
                color: #2c3f3e;
                font-weight: bold;
                font-size: 17px;
                margin-right: 10px;
                min-width: 66px;
                border: 3px solid #2c3f3e;
            }
            button.active{

                background: #2c3f3e;
                color: #d8ffff;

            }
        }
    }
    .types{
        padding: 10px;
        background: #9fccd4;
        width: 100%;

        .types_box{
            margin: 0 auto;
            display: table;
            button{
                border-radius: 10px;
                padding: 0px 10px 1px 10px;
                border: 3px solid #2c3f3e;
                color: #2c3f3e;
                font-weight: bold;
                margin-right: 10px;
                min-width: 110px;
                background: none;
                height: 62px;
            }
            button.active{
                background: #2c3f3e;
                color: #FFF;
            }

        }
    }
    .activities{
        
        .activities_box{

            
        }
    }


}