.header {
    
    .menu_button{
        text-align: center;
    }
    .logo_and_app_name {
        text-align: center;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
    }
    .languag{
        text-align: center;
    }


}