.ActivityTeaser{
    float: left;
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
    border: 0px;
    background: none;
    border-left: 2px solid #72ced5;
    color: #30686c;

    .activity{
        display: flex;
        flex-direction: row;
    }
    
    .info_item{
        display: flex;
        flex-direction: column;
    }

    .type{
        display: block;
        .type_box{
            text-align: center;
            width: 100px;
            padding: 0px 10px 0px 10px;

            .title{
                font-size: 13px;
            }
            .icon{

            }
        }
    }
    .image_box{
        .image_background{
            width: 70px;
            height: 70px;
            background-position: center !important;
            background-size: cover !important;
        }
    }
    .title_and_description{
        padding: 0px 10px 0px 10px;
        text-align: left;
        .title{
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
        }

        .title::after{
            content: "\a";
            white-space: pre;
        }

        .description{
            font-size: 15px;
        }

            
        .type_box{
            font-size: 14px;
        }
            


    }
    .location{
        .icon{
        
        }
        .location_text{

        }
    }
}